  
  <!-- Top Slider -->
  <section class="container">
    <div class="slider">
      <div class="slider-handle">
        <!-- Arrows -->
        <div class="slider-arrows">
          <a class="slider__arrow slider__arrow--prev">
          </a>
          <a class="slider__arrow slider__arrow--next">
           <img src="/assets/img/next-arrow.png" class="right-arrow-img">
          </a>
        </div>
        <!-- Dot navigation -->
        <div class="slider__dots">
          <span class="slider-dot"></span>
          <span class="slider-dot"></span>
          <span class="slider-dot"></span>
          <span class="slider-dot"></span>
        </div>
      </div>

      <div class="slider__carousel">

        <!-- Slide 1 -->
        <div class="slider__image fade" >
          <div class="slider-one-content" ><h1>Look beyond the ordinary</h1></div>   
         <div class="slide-one-img"></div>
          <span class="shape"></span>
        </div>


        <!-- Slide 2 -->
        <div class="slider__image fade" >
          <div class="slider-two-content" ><h1>We aspire to inspire</h1></div>   
         <div class="slide-two-img"></div>
          <span class="shape"></span>
        </div>
      
        <!-- Slide 3 -->
        <div class="slider__image fade" >
          <div class="slider-three-content" ><h1>We can and we will</h1></div>   
         <div class="slide-three-img"></div>
          <span class="shape"></span>
        </div>

        <!-- Slide 4 -->
        <div class="slider__image fade" >
          <div class="slider-four-content" ><h1>We leave no stone unturned</h1></div>   
         <div class="slide-four-img"></div>
          <span class="shape"></span>
        </div>
      
      </div>
    </div>
  </section>

