  <!-- Description Container -->

  <section class="description-container">

    <div class="description-container-left">
        <p> Visio is an investment management firm initially founded by Patrice Moyal in 2003. The nimble, highly focused and dynamic team manage assets across listed strategies for a diversified client base that includes some of the world’s largest and most sophisticated investors. </p>
    </div>
  
    <div class="description-container-right">
        <img src="/assets/img/Component.png" alt="component">
    </div>
  
  </section>

  